 
  body {
	  font-family: verdana, arial, helvetica, sans-serif;
		font-size: 0.7em;
		color: #666;
		
	}
	
	#contenido {
    width:60em;
  	margin-top: 0em;
  	margin-bottom: 3em;
    margin-left:auto; 
    margin-right:auto;
    text-align:left; 
	}	

	.t1{
	  font-family: arial, verdana, helvetica, sans-serif;
  	font-size: 2em;
  	font-weight: bold;
  	color: rgb(51, 51, 51);
  	clear: both;
  	text-align: center;
	}
	
	.t2{	
	  font-size: medium;
	  font-weight: bold;
		color: #fff;
		background-color: #684e01;
	  padding: 0.3em;
	  text-align: center;
	}
	
	.t3{
	  font-size: 1.2em;
	  font-weight: bold;
		color: #000000;
		
	}


/************************************************
*                  CABECERA                    *
************************************************/
	
	
	#logo{
	  background-color: #f0f0f0;
		border: 1px solid #ccc;
		padding: 1em 2em 1em 2em;
		font-size: 1em;
		}
	
	#La{
	  font-family: arial, helvetica, sans-serif;
	  font-weight: bold;
	  font-size: 3em;
	  color: #5a4400;
	}
	
	#aceitera{
	  font-family: arial, helvetica, sans-serif;
		font-weight: bold;
	  font-size: 3em;
		color: #000;
	}
	
	#lema{
	  font-family: arial, helvetica, sans-serif;
		font-weight: bold;
	  font-size: 1.2em;
		font-style: italic;
		color: rgb(119, 119, 119);
	}	
	
	
/************************************************
*            CESTA de la compra                *
************************************************/
	
	
	#tabla_compra {
	  width: 60em;
	  font-family: verdana, arial, helvetica, sans-serif;
		font-size: 1em;
	}
	
	#tabla_compra td{
	  padding: 0.5em;
	  color: rgb(70, 70, 70);
	}
	
	#conceptos th{
	  background-color: #f0f0f0;
		border: 1px solid #ccc;
		color: rgb(50, 50, 50);
	}
	
	#total td{
	  padding-top: 0.5em;
		border-top: 1px solid #ccc;
	}
	
	#info_en{
	  font-size: 0.9em;
	  text-align: right;
	  color: rgb(70, 70, 70);

	}
	.concept{
		color: rgb(50, 50, 50);
	}


/************************************************
*       Datos de facturaci�n (formulario)      *
************************************************/	
	
	
	.info{
		color:  #000;	
	  background-color: #EEF6FF;
		border: 1px solid #0B639A;
		padding: 0.5em;
		margin: 0em 0.5em 0em 0.5em;
	}
	
	.i{
	  color: #fff;
		background-color: #039;		
		font-weight: bold;
		font-size: 1.2em;
		padding: 0.1em 0.6em 0.1em 0.6em;
		margin-right: 0.6em;
	}
	
	#datos_personales{
    float:left; 
		width: 30em;	
  }
	
	#datos_envio{
		float: left;			
	}
  
	#observaciones{	
	  clear: both; 
		padding-top: 2em;
		color: rgb(70, 70, 70);
  }
	
	.obligatorio{
	  color: rgb(70, 70, 70);
	}
	
	.campo_form{
	  margin-top: 0.5em;
	  color: rgb(70, 70, 70);
	}
	
  .campo_form label{
    padding-left: 1em;
		padding-right: 1em;
    display: block;
    width: 10em;
    float: left;
		text-align: right;
  }
	
	#submit{
	  text-align: right;
	}

/************************************************
*          Garant�as y pie de p�gina           *
************************************************/


	#garantias{
	  text-align: left;
	  color: rgb(70, 70, 70);
	  font-size: medium;
	}	

	.lista{
	  padding-left: 2em;
	}	
	
	#pie{
	  border-top: 3px solid #ccc;
		padding: 1em;
		text-align: center;
		color: rgb(60, 60, 60);
	}
